In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(

    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}

)

In [4]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [12]:
df_mask = pd.DataFrame(

    {"AAA": [True] * 4, "BBB": [False] * 4, "CCC": [True, False] * 2}

)

In [13]:
df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

In [15]:
df.where(~df_mask, -1000)

    AAA  BBB   CCC
0 -1000   10 -1000
1 -1000   20    50
2 -1000   30 -1000
3 -1000   40   -50